[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} 

@media (max-width: 500px) { 
	.ui-header h1 { 
		visibility: hidden !important;
	} 
}

.ui-header h1 {
    margin: 0 20% !important;
}

#usersTableContainer {
	width: 100%;
	height: 400px;
	overflow: auto;
}

#usersTable td, #userDetailsTable td {
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
}

#usersTable tr td:first-child,
#usersTable tr th:first-child,
#userDetailsTable tr td:first-child  {
	border-left: 0;
}
#usersTable tr td:last-child,
#usersTable tr th:last-child,
#userDetailsTable tr td:last-child {
	border-right: 0;
}

#usersTable tbody tr:hover {
    background-color: #E6E8F2;
}

#usersTable tr:hover {
	cursor: pointer;
}

#usersTable tr td {
	padding: 0;
}

#usersTable tr td a {
	display: block; 
	padding: 16px;
	color: black;
	font-weight: normal;
	text-decoration: none;
}

#userDetailsTable {
	table-layout: fixed;
	max-width: 450px;
	/*/margin: 0 auto;*/
}

#userDetailsTable>tbody {
	border: 1px solid #ccc;
}

#userDetailsTable>tbody>tr:last-child {
	border-bottom: 1px solid #ccc;
}

#activeUserFullName {
	text-align: center;
}


#containerInfoAndBtns {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.inner {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.inner > * {
	vertical-align:middle;
}

.floatItem {
	display:        inline-block;
	margin:         0 20px;
	text-align:     center;
	position:       relative;
	/* float:          left; */
}

#mobilityChartContainer, #balanceChartContainer, #activityChartContainer {
	width: 80%;
	margin: 0 auto;
}

#editUserDataForm label {
	font-weight: bold;
}

.toast {
	display: none;
	width: 50%;
	height: auto;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 30px;
	color: #F0F0F0;
	font-family: Calibri, sans-serif;
	/*font-weight: bold;*/
	font-size: 24px;
	padding: 10px;
	text-align:center;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.toast-content {
	display: flex;
	justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.toast-success {
	background-color: #29BF0B;
}

.toast-error {
	background-color: #BF1D1D;
}

.toast-icon {
	height: 0.9em;
	margin-right: 10px;
}

.personalizedFeedbackMsgsContainer {
	max-height: 300px;
	overflow: auto;
}

.personalizedFeedbackMsgsContainer table tbody tr:first-child {
	/*font-weight: bold;*/
	background-color: #BDEBB7;
}


#default-feedback-page h1 {
	text-align: center;
}

#default-feedback-page table {
	width: 100%;
}

#default-feedback-page table tr td:first-child {
    width:1%;
    white-space:nowrap;
}


#registerDefaultFeedbackForm table th {
	text-align: center;
	font-size: 1.5em;
}

#charNum {
	color: gray;
}