/***************************
** Global
***************************/

/*
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} */

body {
	text-align: center;
}

.pageMainElement {
  /*position: absolute;*/
  width: 100%;
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  left: 0;
  right: 0;
  margin: 0 auto 45px auto;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


#main-page .ui-content {
    padding: 0.5em 1em !important;
}

.well {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 2px !important;
	margin: 0 !important;
	background-image: -webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
	background-image: -o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));
	background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
	background-repeat: repeat-x;
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


[data-role=page] {
	position: relative !important;
}


.chartContainer {
	margin-bottom: 20px;
}


/***************************
** Mobility Index Image
***************************/
#MIImgOuterWrapper {
	margin-top:	15px;
	height: auto;
	min-height: 200px;
	/*top: 2%;*/
}

#MIImgWell {
	height: auto;
	background-image: -webkit-linear-gradient(top,#DAE6F2 0,#D5E0EB 100%) !important;
	background-image: -o-linear-gradient(top,#DAE6F2 0,#D5E0EB 100%) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#DAE6F2),to(#D5E0EB)) !important;
	background-image: linear-gradient(to bottom,#DAE6F2 0,#D5E0EB 100%) !important;
}

#MIImgHeader h1 {
	margin: 10px 0;
}

#MIimgInnerWrapper {
	position: relative;
	display: inline-block;
	overflow:hidden;
	vertical-align: middle;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

#MIImg {
	vertical-align: middle;
	max-height: 250px;
	max-width: 100%;
	margin: 15px auto 0 auto;
}


#michartOpenBtn {
	margin: 30px;
}

#MIGaugeChartTextHighRisk, #MIGaugeChartTextLowRisk {
	position: absolute;
	bottom: 0;
	font-weight: bold;
	font-size: 20px;
}

@media (max-width: 450px) { 
	#MIGaugeChartTextHighRisk, #MIGaugeChartTextLowRisk { 
		font-size: 14px;
	}
}


#MIGaugeChartTextHighRisk {
	left: 0;
	color: #ED1E24;
	text-shadow: 2px 2px 8px #ED1E24;
}

#MIGaugeChartTextLowRisk {
	right: 0;
	color: #5FBB46;
	text-shadow: 2px 2px 8px #5FBB46;
}



/***************************
** Charts (general)
***************************/

.chartWell {
	background-image: -webkit-linear-gradient(top,#EBF1F5 0,#DAE6F2 100%) !important;
	background-image: -o-linear-gradient(top,#EBF1F5 0,#DAE6F2 100%) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#EBF1F5),to(#DAE6F2)) !important;
	background-image: linear-gradient(to bottom,#EBF1F5 0,#DAE6F2 100%) !important;
}

#balanceChart, #activityChart {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 1000px;
	padding: 0 20px !important;
}

#balanceChartContainer, #activityChartContainer {
	height: 22%;
	min-height: 200px;
}

#activityChartContainer {
	margin-bottom: 0;
}

.highcharts-container {
	width: 100% !important;
	height: 100% !important;
}

#MIImgTooltipBtn, #BIChartTooltipBtn, #AIChartTooltipBtn, #MIChartTooltipBtn {
	position: absolute;
	top: 0;
	right: 0;
}



/***************************
** Balance chart
***************************/

#balanceChartContainer {
	/*top: 32%;*/
}


/***************************
** Activity chart
***************************/

#activityChartContainer {
	/*top: 58%;*/
}



/***************************
** Mobility chart
***************************/
#mobilityChartContainer {
	height: 400px;
	width: 80%;
	margin: 0 auto 100px auto;
}



/***************************
** Details page
***************************/
#userDataWrapper {
	width: 50%;
	margin: 0 auto;
}

@media (max-width: 600px) { 
	#userDataWrapper { 
		width: 90%;
	}
}

#userDataWrapper .well {
	height: auto;
}

#userDataWrapper .well p {
	margin: 0;
	padding: 10px;
}

#logoutBtnWrapper {
	max-width: 300px;
	margin: 0 auto;
}



/***************************
** Feedback message
***************************/

.alert {
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-green {
	background-image: -webkit-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
	background-image: -o-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#c8e5bc));
	background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
	background-repeat: repeat-x;
	border-color: #b2dba1;
	color: #3c763d;
	background-color: #dff0d8;
}

.alert-gray {
	border-color: #C7C7C7;
	color: #333;
	background-color: #f6f6f6;
}


.messageWrapper {
	/*max-height: 10%;*/
	/*top: 82%;*/
	font-size: 18px;
}

.messageWrapper .alert {
	padding-bottom: 1%;
	margin-bottom: 0;
	background-color: #f6f6f6;
}

.messageWrapper .clickableFeedback{
	background-color: #E6E6E6;
}

.messageWrapper .clickableFeedback:hover {
	cursor: pointer;
	background-color: #ededed;
}

.messageWrapper * {
	margin-bottom: 0;
}


/***************************
** Footer
***************************/

/*#footer {
	height: 60px;
}

#footer p {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-weight: 100;
	text-align: left;
	padding-left: 10px;
	margin-top: 0;
}*/

#lastUpdatedValue {
	font-style: italic;
}

#settingsBtn {
	position: fixed;
	bottom: 0;
	right: 0;
}

@media (max-width: 350px) { 
	#footer p { 
		display: none; 
	} 
}



/***************************
** Video tutorial
***************************/
#video-popup-popup {
	width: 100%;
	max-width: 800px !important;
}

#video-popup {
	margin: 0 20px;
}

#video-popup .iframeWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

#video-popup .iframeWrapper iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 600px;
	margin: 0 auto;
}

#help-page iframe {
	width: 80%;
	max-height: 800px;
	margin: 0 auto;
}

#videoPopupCloseBtn {
	/*position: fixed;
	margin: 0 auto;
	margin-bottom: 75px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 400px;
	max-width: 100%;*/
}



/***************************
** Exercise info dialog
***************************/
.ui-dialog-contain {
	max-width: 900px !important;
	margin-top: 5% !important;
}

.popupHeader {
	color: #1b1b1b !important;
}

.exerciseImg {
	display: block;
	max-width: 95%;
	max-height: 500px;
	margin: 0 auto;
}

.exerciseDesc {
	display: block;
	width: 85%;
	margin: 0 auto;
	padding: 30px 10px 0 10px;
	text-align: left;
	font-size: 1.3em;
}

.exerciseDesc ul {
	padding-left: 20px;
}



/***************************
** Settings page
***************************/
#settingsHeader {
	height: 60px;
}

#settingsHeader h1 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5em !important;
	font-weight: bold;
}

/*#backBtnHeader {
	position: fixed;
	top: 0;
	left: 0;
}*/

#MIImgSelectionHeader {
	font-size: 28px;
}

#MIImgSelectionGroup {
	width: 100%;
	margin-bottom: 30px;
}

#MIImgSelectionGroup img {
	width: 30%;
	max-width: 300px;
	cursor: pointer;
	border: 2px solid black;
	margin: 5px;
	transition: all .2s ease-in-out;
}

#MIImgSelectionGroup img:hover {
	transform: scale(0.9);
}

.MIImgSelected {
	border: 8px solid #474747 !important;
	transform: scale(0.9);
}

#settingsBtnGroup {
	max-width: 300px;
	margin: 0 auto;
}

#backBtn {
	display: block;
}

#saveBtn {
	display: none;
}

#cancelBtn {
	display: none;
}

#logoutBtn {
	margin-top: 50px;
}


.greyBtn {
	background-color: #C4C4C4 !important;
	border-color: #CCCCCC !important;
	color: #000000 !important;
	text-shadow: 0 1px 0 #eeeeee !important;
}

.greyBtn:hover {
	background-color: #D9D7D7 !important;
	border-color: #CCCCCC !important;
	color: #000000 !important;
	text-shadow: 0 1px 0 #eeeeee !important;
}

.greenBtn {
	background-color: #009245 !important;
	border-color: #54cc60 !important;
	color: #ffffff !important;
	text-shadow: 0 1px 0 #444444 !important;
}

.greenBtn:hover {
	background-color: #45a74f !important;
	border-color: #60e96e !important;
	color: #ffffff !important;
	text-shadow: 0 1px 0 #444444 !important;
}

.redBtn {
	background-color: #ab3d41 !important;
	border-color: #8A2F32 !important;
	color: #ffffff !important;
	text-shadow: 0 1px 0 #444444 !important;
}

.redBtn:hover {
	background-color: #c4464a !important;
	border-color: #8A2F32 !important;
	color: #ffffff !important;
	text-shadow: 0 1px 0 #444444 !important;
}

#hiddenBackBtn {
	display: none;
}